
@{
    ViewBag.Title = "Uspeh";
}

<h1><b>Uspeh</b></h1>
<hr style="border-top: 1px solid #E2C044" />
<div class="row login-page-div-content">
    <div class="col-md-6 login-page-div-content">
        <p>Zahtevana radnja je uspešno izvršena.</p>
    </div>
    <div class="col-md-6 login-page-div-content">
        <img src="~/Content/images/happyface.png" alt="happyface" />
    </div>
    @Html.ActionLink("Nazad na početnu stranicu", "Pocetna", "Profesor", null, new { @class = "btn button narrow btn-lg nazad-na-pocetnu-stranu-button" })
</div>


