.navbar{
    background-color: transparent;
    a{
        color: whitesmoke;
    }
    a:hover{
        color:rgb(223, 223, 223);
    }
    .navbar-toggler{
        color: whitesmoke;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
}
@media only screen and (min-width:768px) {
    footer{
        height: 214px;
    }
}
footer{
  background-color: #491313;
}
.navbar-scrolled{
  opacity: .9;
  background-color: #491313;
  transition: all .5s ease-in-out;
}
.navbar-scrolled .dropdown-menu {
  background-color: #491313;
  opacity: .9;
  transition: all .5s ease-in-out;
}
.dropdown-menu {
  background-color: inherit;
  font-size: inherit;
  border: 0;
}
.dropdown-item{
  color: whitesmoke;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.dropdown-item:hover {
  cursor: pointer;
  background-color: inherit;
  color:rgb(223, 223, 223);
}
.dropdown-divider {
  color: whitesmoke;
}
mat-icon {
  font-size: inherit;
  height: unset;
  width: unset;
  margin-right: 5px;
}
.active-link {
  font-weight: bold;
}
