<div class="container-fluid p-5 fit-height">
  <ng-container *ngIf="korisnikUlogovan()">
    <div class="row mt-5 text-center">
      <p class="h2">Korisnik {{ vratiImeIPrezimeKorisnika() }} je već prijavljen.</p>
    </div>
  </ng-container>
  <ng-container *ngIf="!korisnikUlogovan()">
    <div class="row">
        <p class="h2 mt-5 text-center">Prijava</p>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                  <mat-form-field class="w-100">
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
                        Obavezan podatak.
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
                        E-mail je u lošem formatu.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="mb-3">
                  <mat-form-field class="w-100">
                    <mat-label>Lozinka</mat-label>
                    <input matInput formControlName="password" [type]="lozinkaVidljiva ? 'text' : 'password'">
                    <mat-icon (click)="promeniVidljivostLozinke()" matSuffix [matTooltip]="lozinkaVidljiva ? 'Sakrij lozinku' : 'Prikaži lozinku'">remove_red_eye</mat-icon>
                    <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
                        Obavezan podatak.
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minlength">
                        Lozinka mora da sadrži najmanje 8 karaktera.
                    </mat-error>
                  </mat-form-field>
                </div>
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
  </ng-container>
</div>
