<div class="container-fluid fit-height">
    <div class="row fit-height">
        <div class="col-md-6 p-5 d-flex align-items-center justify-content-center">
            <div>
                <p class="h1 text-center">Greška 404</p>
                <p class="h5 text-center">Tražena stranica ne postoji</p>
            </div>
        </div>
        <div class="col-md-6 p-5 d-flex align-items-center justify-content-center">
            <img width="200" height="200" class="img-fluid" src="assets/images/logo/sadface.png">
        </div>
    </div>
</div>
