<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/images/home/zeko-zeko.png" class="d-block w-100" alt="Zeko zeko">
        </div>
        <div class="carousel-item">
            <img src="../assets/images/home/majstori-majstori.png" class="d-block w-100" alt="Majstori majstori">
        </div>
        <div class="carousel-item">
            <img src="../assets/images/home/mister-dolar.png" class="d-block w-100" alt="Mister dolar">
        </div>
        <div class="carousel-item">
            <img src="../assets/images/home/zabranjeno-preko-18.png" class="d-block w-100" alt="Zabranjeno preko 18">
        </div>
        <div class="carousel-item">
            <img src="../assets/images/home/zivotinjska-farma.png" class="d-block w-100" alt="Zivotinjska farma">
        </div>
        <div class="carousel-item">
            <img src="../assets/images/home/put-oko-sveta.png" class="d-block w-100" alt="Put oko sveta">
        </div>
    </div>
</div>
<div class="hero d-flex align-items-center justify-content-center">
  <div>
    <p class="display-3 text-center">Studio glume „Scena”</p>
    <p class="h6 text-center">Dođite i uverite se zašto smo najveći studio glume u Srbiji!</p>
    <div class="d-flex justify-content-center mt-4">
      <a href="#zastobasmi" class="btn btn-transparent me-3">Zašto baš mi?</a>
      <a href="/upis" class="btn btn-transparent">Prijava za upis</a>
    </div>
  </div>
</div>
<div class="container-fluid info-section-1">
    <div class="d-flex justify-content-center">
        <div class="col-md-8" id="zastobasmi">
            <p class="h1 text-center my-3">Dobrodošli u magični svet pozorišta</p>
            <p class="small-text text-center">
                Studio glume „Scena” je škola glume sa preko 10 godina dugom tradicijom.
                Naša škola je dom za preko 300 polaznika uzrasta od 7 do 19 godina.
                Karakteriše nas sjajna atmosfera i kvalitetan rad.
                Dođite i uverite se zašto smo, prema mnogim parametrima, najbolja škola glume u Srbiji!
            </p>
            <p class="h1 text-center mt-5">Zašto baš mi?</p>
            <p class="small-text text-center mb-5">Lepo što pitaš! Dozvoli nam da ti pokažemo!</p>
        </div>
    </div>
</div>
<app-separator></app-separator>
<div class="container-fluid info-section-2">
    <p class="h1 text-center text-after-separator">Predstave</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <p class="small-text text-center">
                    Svake godine u našoj školi organizuju se 2 predstave u sopstvenoj produkciji u kojoj učestvuju polaznici svih uzrasta.
                    Do sada smo u našim pozorištima odigrali preko 30 uspešnih predstava! Na <a href="/predstave">ovom</a> linku možeš saznati više o našim predstavama.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid mb-5" src="../../assets/images/home/zabranjeno-preko-18-card-photo.png">
            </div>
        </div>
    </div>
</div>
<app-separator-secondary></app-separator-secondary>
<div class="container-fluid info-section-1">
    <p class="h1 text-center text-after-separator">Putovanja</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="../../assets/images/home/putovanje-pinned-photo.png">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p class="text-center small-text">
                    A tu su i putovanja! Svake godine organizujemo jedno putovanje na neku od evropskih destinacija, do sada smo bili u Pragu, Beču,
                    Drezdenu, Amsterdamu, Minhenu, Parizu itd.
                </p>
            </div>
        </div>
    </div>
</div>
<app-separator></app-separator>
<div class="container-fluid info-section-2">
    <p class="h1 text-center text-after-separator">Profesionalni angažmani</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <p class="text-center small-text">
                    Studio glume „Scena” organizuje i kastinge za profesionalne angažmane sa dosta uspeha, do sada su naši polaznici igrali u preko 20
                    filmova i serija!
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid mb-5" src="../../assets/images/home/profesionalna-snimanja-pinned-pic.png">
            </div>
        </div>
    </div>
</div>
<app-separator-secondary></app-separator-secondary>
<div class="container-fluid info-section-1">
    <p class="h1 text-center text-after-separator">Gosti</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="../../assets/images/home/gostovanje-pinned-pic.png">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p class="text-center small-text">
                    U svakom polugodištu imamo goste iz sveta glume, do sada su tu bili Sergej Trifunović, Nebojša Glogovac, Ljubomir Bandović, Andrija Kuzmanović,
                    Nataša Marković, Svetlana Bojković, Nikola Đuričko itd.
                </p>
            </div>
        </div>
    </div>
</div>
<app-separator></app-separator>
<div class="container-fluid info-section-2">
    <p class="h1 text-center text-after-separator">Dramske akademije</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <p class="text-center small-text">
                    A za one malo ambicioznije kojima je gluma životni poziv, možemo da se pohvalimo najboljim rezultatima na glumačkim akademijama u Srbiji!
                    Preko 30 naših polaznika upisalo je glumačke akademije u Beogradu i Novom Sadu.
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-fluid mb-5" src="../../assets/images/home/marina-cosic.png">
            </div>
        </div>
    </div>
</div>
<app-separator-secondary></app-separator-secondary>
<div class="container-fluid info-section-1 text-center">
    <p class="h1 text-center text-after-separator">Pridruži nam se!</p>
    <p class="text-center small-text">
        Ako želiš da nam se pridružiš i budeš deo naše ekipe i misliš da imaš ono što je potrebno da budeš glumac/glumica,
        dobrodošao/la si! Čekamo te!
    </p>
    <a routerLink="/upis" class="button-link"><button class="d-block mx-auto cta-button my-5">UPIS</button></a>
</div>
